* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 2px 20px -2px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-links ul,
.nav-links a {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.homeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid rgb(232, 247, 172);
  padding: 100px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 2px 20px -2px;
}

.homeContainer h1 {
  font-size: 40px;
}

.homeContainer p {
  font-size: 19px;
  color: rgb(80, 78, 78);
}

.startBut {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: transform ease 0.1s;
}

.startBut:hover {
  transform: scale(1.01);
  background-color: rgb(63, 130, 27);
}

/*  */

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px 60px;
  width: fit-content;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loginContainer label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
}

.loginContainer input::placeholder {
  font-size: 18px;
  color: gray;
}

.loginContainer input {
  text-align: left;
  padding: 10px;
  font-size: 18px;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
  display: block;
  border-bottom: 1px solid gray;
}

.loginContainer input:focus {
  outline: none;
  border-bottom: 1px solid green;
}


.submitButton {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  width: 100%;
  margin: 10px 0;
}

.submitButton:hover {
  background-color: darkgreen;
}

.loginContainer h1 {
  text-align: center;
  margin: 10px 0px;
}

.switch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.switch button {
  /* background-color: green; */
  font-size: 19px;
  padding: 8px 20px;
  width: 100%;
  border: none;
  border-radius: 15px;
}

.newuser a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-size: 20px;
}

.roleSelect {
  padding: 10px 15px;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid white;
}

.roleSelect:focus {
  outline: none;
  border: 1px solid green;
}

.roleName {
  padding: 10px 15px;
  background-color: rgba(34, 0, 255, 0.2);
  border-radius: 20px;
  color: rgba(0, 21, 255);
}

.logoutButton {
  padding: 10px 25px;
  background-color: rgb(213, 13, 13);
  border-radius: 20px;
  border: none;
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}

.organizerContainer {
  display: flex;
  flex-direction: row;
}

.sidePanel {
  width: 20%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 90vh;
}

.mainPanel {
  width: 80%;
  background-color: rgba(173, 177, 210, 0.2);
}

.sideContent {
  padding: 20px;

}

.sideContent ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
}

.sideContent button {
  padding: 10px 15px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: transform ease 0.1s;
}

.mainContent {
  padding: 20px;
}

.createEventBut {
  padding: 10px 20px;
  background-color: rgb(78, 78, 206);
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: transform ease 0.1s;
}

.createEventBut:hover {
  background-color: rgb(99, 99, 240);
}

.eventDashContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 35px 0px;
}

.eventdashCard {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 2px 20px -2px;
  justify-content: space-between;
  width: 100%;
}

.eventdashCard h4 {
  color: rgb(101, 99, 99);
  text-align: left;
}

.eventdashCard h1 {
  text-align: left;
  margin: 15px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#orgEventTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 2px 20px -2px;
  margin: 20px 0px;
}

#orgEventTable th,
#orgEventTable td {
  padding: 15px;
  border-bottom: 1px solid #ddd;

}

#orgEventTable th {
  background-color: rgb(97, 97, 192, 0.2);
  color: rgb(0, 0, 0);
  font-size: 16px;
}

/* form  */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 450px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.closeModal {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalForm label {
  font-weight: bold;
  font-size: 18px;
}

.modalForm input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}



.modalSubmitBut {
  margin-top: 15px;
  padding: 12px;
  background-color: #5850ec;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.modalSubmitBut:hover {
  background-color: #4338ca;
}

.manageBut {
  padding: 5px 15px;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  cursor: pointer;
}

.myEventsPage {
  padding: 20px;
}

.allEventExpense {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.eventExpenseCard {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 2px 20px -2px;
  overflow: auto;
}

.addExpBut {
  padding: 8px 15px;
  background-color: rgb(78, 78, 206);
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform ease 0.1s;
}


#approveBut {
  padding: 8px 13px;
  background-color: rgb(34, 139, 34);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

#rejectBut {
  padding: 8px 13px;
  background-color: rgb(213, 13, 13);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}


.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.loading img {
  width: 30px;
  height: 25px;

}

.NotificationContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1001;
  width: 350px;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 20px -2px;
  background: transparent;
  backdrop-filter: blur(15px);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.NotificationContainer.active {
  transform: translateX(0%);
  opacity: 1;
}

.NotificationContainer h1 {
  color: rgb(0, 0, 0);
  margin: 15px 0px;
}

.notifyinner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;


}

.notifyitem {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 2px 20px -2px;
  display: flex;
}